.userBanner {
    display: flex;
    flex-direction: row;

    padding-left: 50px;
    padding-right: 50px;

    justify-items: space-between;
    align-items: center;

    width: auto;
    max-width: 20%;
}

.userBanner img{
    width: 70px;
    padding: 15px;
    height: auto;
    border-radius: 360px;
}